NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://postgres:Admin@localhost:5432/doctor_appointment_db?schema=public"


ACCESS_TOKEN_SECRET=accessToken_secrect
ACCESS_TOKEN_EXPIRESIN=1h

REFRESH_TOKEN_SECRET=refreshToken_secrect
REFRESH_TOKEN_EXPIRESIN=30d

INTERVAL_TIME=30

OPENROUTER_API_KEY=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

STRIPE_SECRET_KEY=sk_test_51MZ6b2SD4Y1f3YxX9z4YkQ1J5K3J6k8L9m2N3O4P5Q6R7S8T9U0V1W2X3Y4Z5a6b7c8d9e0f1g2h3i4j5k6l7m8n9o0p1q2r3s4t5
CLOUD_NAME=djbvanlbl
API_KEY=541453543311443
API_SECRET=TbZqm_Kr6_6xR6OTInQ0v6Uctto