NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://postgres:Admin@localhost:5432/doctor_appointment_db?schema=public"


ACCESS_TOKEN_SECRET=accessToken_secrect
ACCESS_TOKEN_EXPIRESIN=1h

REFRESH_TOKEN_SECRET=refreshToken_secrect
REFRESH_TOKEN_EXPIRESIN=30d

INTERVAL_TIME=30

OPENROUTER_API_KEY=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
